.table-container {
  width: auto !important;
  padding: 50px 50px;
}

.button {
  padding: 8px 15px !important;
  background-color: #cc0000;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #b30a0a;
}

.link {
  padding: 8px 15px;
  background-color: #6c63ff;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
}

.link:hover {
  background-color: #524bcc;
}
